{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  {% for page in pages %}
  <img src="{{page.cover_image}}" class="img-fluid" alt="Red Cyber Dragon logo"/>
  {% endfor %}
  <p class="lead">Welcome to Red Cyber Dragon Studios, your source for exciting indie games!</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h2>Latest Projects</h2>
        <ul>
          {% for project in projects %}
          <li><a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <div>
        <h2>Meet Our Team</h2>
        <ul>
          {% for team_member in team %}
          <li><a href="{% url 'team_detail' team_member.pk %}">{{ team_member.name }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
